*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: Arial; */
}

.nav-container{
    display: flex;
    color: white;
}

.nav-container .logo{
    flex: 0.1;
}

.nav-container .logo #image1{
    width: 100px;
}

.nav-container .navlinks{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
}

.nav-container .navlinks .nav1{
    flex: 0.6;
    justify-content: space-between;
}

.nav-container .navlinks .nav2{
    flex: 0.12;
    justify-content: space-between;
}

.nav-container .navlinks .nav1,
.nav-container .navlinks .nav2{
    display: flex;
    align-items: center;
}

.nav-container .navlinks .nav1 li,
.nav-container .navlinks .nav2 li{
    list-style-type: none;
}

.nav-container .navlinks .nav1 a,
.nav-container .navlinks .nav2 a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: opacity 0.4s;
}

.nav-container .navlinks .nav1 a:hover,
.nav-container .navlinks .nav2 a:hover{
    opacity: 0.7;
}

.nav-container .logo p{
    display: none;
}

/* MEDIA QUERY */

@media screen and (max-width: 1024px) {
    .nav-container .navlinks .nav1{
        display: none;
    }

    .nav-container .logo{
        display: flex;
        align-items: center;
        flex: 3.5;
        /* border: 1px solid; */
    }

    .nav-container .logo p #chevron{
         vertical-align: middle;
         margin-left:3px;
    }

    .nav-container .logo p{
        margin-left: 1rem;
        display: block;
        cursor: pointer;
    }

    .nav-container{
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid; */
    }

    .nav-container .navlinks .nav2{
        flex: 1;
        /* border: 1px solid; */
    }
}