*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: Arial; */
}

.nav-container{
    display: flex;
    color: white;
}

.nav-container .logo{
    flex: 0.1;
    align-self: flex-end;
}

.nav-container .logo #image1{
    width: 100px;
}

.nav-container .navlinks{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
}

.nav-container .navlinks .nav1{
    flex: 0.6;
    justify-content: space-between;
}

.nav-container .navlinks .nav2{
    flex: 0.12;
    justify-content: space-between;
}

.nav-container .navlinks .nav1,
.nav-container .navlinks .nav2{
    display: flex;
    align-items: center;
}

.nav-container .navlinks .nav1 li,
.nav-container .navlinks .nav2 li{
    list-style-type: none;
}

.nav-container .navlinks .nav1 a,
.nav-container .navlinks .nav2 a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: opacity 0.4s;
}

.nav-container .navlinks .nav1 a:hover,
.nav-container .navlinks .nav2 a:hover{
    opacity: 0.7;
}